.hide-shortcode-album{display:block}.show-img-shortcode-album{display:none}.list-item-album{width:100%;padding:0
!important;margin:0
!important}.list-item-album
li{background:none !important;padding:0
!important}.single-albums .entry-content
ul{padding-left:0px;margin-left:0px}.single-albums .entry-content ul
li{list-style-image:none;display:block;float:left;margin:0
0px 14px}.single-albums .entry-content ul li
a{display:block}.liste-album .item-album{display:block;width:300px;margin-bottom:20px;background-color:#777;color:#777;text-decoration:none;font-weight:bold}.liste-album .item-album
img{margin-bottom:-4px}.liste-album .item-album
p{background-color:#FFF;border:1px
solid #777;border-top:none;text-align:center;padding:5px;transition:all 0.3s ease-in-out;margin:0}.liste-album .item-album:hover{color:#FFF}.liste-album .item-album:hover
p{background-color:#777}.vignette-album{color:#777 !important;text-decoration:none !important}.vignette-album:hover{color:#FFF !important}.vignette-album>p{width:155px;border:1px
solid #777;border-top:none;padding:5px;margin-top:-5px;background-color:#FFF;transition:all 0.3s ease-in-out}.vignette-album:hover>p{background-color:#777}