#mceResizeHandlen, #mceResizeHandlee, #mceResizeHandles, #mceResizeHandlew {display:none!important;}
.alignleft { float: left; margin: 5px 15px 5px 0px; }
.aligncenter { display: block; margin: 5px auto; }
.alignright { float: right; margin: 5px 0px 5px 15px; }